<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hashtags</title>
    <link rel="icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/layout.css" />
</head>
<body>
    <div class="container">
        <header th:insert="Fragments.html :: header"></header>
        <br>
        <main class="main-content">
            <section class="main-content__topics topics">
                <h2 class="topics__title main-content__title">All Hashtags</h2>
                <ul>
                    <li class="hashtaglist" th:each="theHashtag : ${hashtags}" ><a th:href="|/postwithinahastag/${theHashtag.hashtagId}|" th:text="${theHashtag.hashtagContent}"></a></li>
                </ul>
            </section>
        </main>
    </div>
</body>
</html>